.formContainer{
  width: 100%;
  display: flex;
  justify-content: center;

}
.cardContainer{
  width: 100%;
  padding: 0 3%;
}
.form {
  width: 100%;
  position: relative;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.5rem;
  font-family: 'Poppins','Sans Serif';
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #f8f9fa;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  background-color: #f8f9fa;
  outline-color: #343a40;
}

.actions {
  text-align: right;
}
@media screen and (min-width: 768px) {
  .cardContainer{
    width: 768px;
  }
}
@media screen and (min-width:968px){
  .cardContainer{
    width: 960px
  }
}

